/* Default Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Ubuntu", sans-serif;
}

html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: 100%;
}

/* End of Default Styles*/


/*** Container ***/
.container {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    padding: 0 2rem; /* Agrega márgenes laterales para evitar que el contenido toque los bordes */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#424949, #515A5A, #515A5A);
}


/** Navigation **/
.sidebar {
    position: fixed;
    width: 80px;
    height: 85vh;
    left: 5rem;
    top: 8rem;
    gap: 0.1rem;
    border-radius: 3rem;
    background: rgba(255,255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-right: 1px solid #f1a35e;
    transition: 0.5s;
    overflow: hidden;
    z-index: 1000;
    transition: width 0.5s ease-in-out;
    /*margin-left: 250px;*/
}

.sidebar:hover {
    width: 180px;
}

.sidebar-logo img{
    position: absolute;
    top: 8%; /* Lo posicionamos en el 50% del alto */
    left: 50%;
    width: 70px;
    height: auto;
    opacity: 0.7;
    pointer-events: none;
    transform: translate(-50%, -50%); /* Lo centra horizontal y verticalmente */
    transition: all 1s ease-in-out;
}

.sidebar:hover .sidebar-logo img {
    transform: translate(-50%, -50%) scale(2); /* Aumenta el tamaño al 120% cuando se hace hover en la sidebar */
}

.sidebar-nav{
    padding: 20px 0;
    list-style-type: none;
    padding-top: 22em;
}

.nav-item {
    align-items: center;
    justify-content: center;
    top: -3rem;
    position: relative;
    padding: 10px 20px;
    margin: 8px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;
    z-index: 0;
}

.nav-item:nth-child(5) {
    margin-top: 40rem;
}

.sidebar-nav .nav-item i {
    margin-right: -1rem;
    color: #fff; /* Color por defecto */
}

.sidebar-nav .nav-item.active i {
    color: #E67E22; /* Color naranja cuando está activo */
}

.nav-item:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: translateX(10px);
}

.nav-item i {
    color: #fff;
    margin-top: 20px;
    font-size: 2em;
    margin-right: 25px;
    margin: 0;
    width: 50px;
}

.nav-item span {
    color: #fff;
    font-size: 1.7em;
    font-weight: 500;
    opacity: 0;
    transition: 0.3s;
}

.sidebar:hover .nav-item span {
    opacity: 1;
}

.nav-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #E67E22;
    transform: scale(0);
    transition: transform 0.3s;
}

.nav-item:hover::before {
    transform: scaleY(1);
}
 /*End of Navigation */


/* Landing */
.landing {
    width: 100%;
    height: 100vh;
    position: relative;
}

.section-bg-heading {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Caveat", cursive;
    font-size: 30rem;
    width: 100%;
    text-align: center;
    color: #31363d;
    opacity: 0.5;
}

.logo {
    position: absolute;
    top: 8rem;
    left: 30rem;
    font-size: 5rem;
}

.logo span:nth-child(1) {
    font-size: 7rem;
    color: #fff;
}

.logo span:nth-child(2) {
    font-size: 8rem;
    font-family: "Caveat", cursive;
    font-weight: bold;
    color: #E67E22;
}


.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 6rem;
    transform: translate(-50%,-50%);
    display: flex;
}

/*
.section-border {
    width: 0.3rem;
    height: 55rem;
    background-color: #bbb;
    margin-right: 10rem;
    position: relative;
}

.section-border::before{
    content: "";
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid #bbb;
    background-color: #515A5A;
    border-radius: 50%;
    position: absolute;
    left: -1.60rem;
    top: -3rem;
}

.section-border::after{
    content: "";
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid #bbb;
    background-color: #515A5A;
    border-radius: 50%;
    position: absolute;
    left: -1.60rem;
    bottom: -3rem;
}*/

.developer-info{
    margin-right: 15rem;
    margin-top: 2rem;
}

.greeting{
    font-size: 4rem;
    display: flex;
    align-items: center; /* Alinea el texto y el span al mismo nivel */
    gap: 0.5rem; /* Añade un pequeño espacio entre el texto y el efecto */
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1rem;
}

.developer-info .greeting span{
    display: inline-block;
    font-weight: bold;
    color: #E67E22;
    font-weight: 2rem;
    margin-left: 1rem;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    animation: typing 5s steps(10) infinite alternate, blink 0.5s step-end infinite;
}

@keyframes typing{
    0% { width: 0; }
    50% { width: 15ch; } /* Se escribe completamente */
    100% { width: 0; } /* Se borra y vuelve a empezar */
}

@keyframes blink{
    50% {border-color: transparent;}
}

.name{
    font-size: 7.5rem;
    width: 80rem;
    margin: 4rem 0 2rem 0;
    color: #fff;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.name span{
    color: #E67E22;
}

.prof{
    font-size: 3.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #E67E22;
    letter-spacing: 0.2rem;
    margin-bottom: 6rem;
}

.prof span{
    font-family: "Caveat", cursive;
    font-size: 4rem;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 1.2rem;
}

.about{
    width: 75rem;
    font-family: "Playfair", cursive;
    font-size: 2.5rem;
    line-height: 1;
    color: #a9abae;
    margin-bottom: 5rem;
}

.social-media{
    margin-left: 1rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.social-media i{
    font-size: 3rem;
    color: #fff;
    margin-right: 2rem;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.5s ease-in-out; /* Suaviza el efecto */
}

/* Efecto al pasar el cursor */
.social-media i:hover {
    transform: scale(2); /* Aumenta el tamaño en 30% */
    color: #E67E22; /* Opcional: cambia de color al pasar el mouse */
}

.btn{
    width: 20rem;
    height: 6rem;
    border: 0.2rem solid #bbb;
    border-radius: 3rem;
    background-color: transparent;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    margin-right: 7rem;
    position: relative;
}

.btn::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #E67E22;
    border-radius: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    transform: scale(0);
    transition: transform 0.3s;
}

.btn:hover::before{
    transform: scale(1);
    transition: transform 0.5s;
}

.cv-btn::after{
    content: "";
    width: 5rem;
    height: 0.2rem;
    background-color: #bbb;
    position: absolute;
    top: 50%;
    right: -5rem;
    transform: translateY(-50%);
}

.cv span{
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}

.developer-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15rem; 
}

.dev-img-wrapper {
    width: 80rem;
    height: 70rem;
    /*background-color: #E67E22;*/
    border-radius: 50%;
    padding: 0 1rem 5rem 1rem;
    /*box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);*/
    /*overflow: hidden;*/
}

.dev-img-wrapper img {
    width: 100%;
    height: auto;
    position: relative;
    max-width: 100%;
    object-fit: cover;
    top: 0; /* Ajusta este valor según sea necesario */
}

.dev-work{
    width: 25rem;
    height: 8rem;
    background-color: #1d222a;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
    border: 0.2rem solid #bbb;
    border-radius: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    position: absolute;
}

.dev-experience{
    bottom: 8rem;
    right: 50rem;
}

.dev-projects{
    bottom: 1rem;
    right: -2rem;
}

.dev-work span:nth-child(1){
    font-size: 3rem;
    width: 50%;
    text-align: center;
}

.dev-work span:nth-child(2){
    color: #E67E22;
    width: 50%;
}
/* End of Landing*/


/*** Education ***/
.education{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-heading{
    font-size: 8rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #fff;
    margin-bottom: 3rem;
}

.sub-heading{
    font-size: 4rem;
    color: #E67E22;
    text-transform: uppercase;
}

.sub-heading span{
    font-family: "Caveat", cursive;
    font-size: 5rem;
    text-transform: capitalize;
    color: #fff;
}

.education-card div{
    display: flex;
    align-items: center;
    margin: 3rem  0;
}

.education-card i{
    width: 10rem;
    height: 10rem;
    background-color: #515A5A;
    border: 0.2rem solid #bbb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #eee;
    margin-right: 7rem;
    position: relative;
}

.education-card i::after{
    content: "";
    width: 4rem;
    height: 0.2rem;
    background-color: #bbb;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -4rem;
}

.education-info{
    width: 60rem;
    display: flex;
    flex-direction: column;
}

.education-info span{
    width: 100%;
}

.education-info div:nth-child(1){
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: -1rem;
}

.education-info div:nth-child(2){
    font-size: 2.5rem;
    font-weight: bold;
    color: #E67E22;
    margin-bottom: -2rem;
}

.education-info div:nth-child(3){
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: -2rem;
}

.education-info div:nth-child(4){
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: -2rem;
}
/* End Of Education */



/* Skills */
.skills{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr)); /* Se ajusta automáticamente */
    grid-template-rows: auto auto;
    gap: 4rem; /* Espacio entre tarjetas */
    margin-top: 5rem;
}

.skills-card{
    width: 40rem;
    height: 18rem;
    margin: 5rem;
    padding: 3 3rem;
    position: relative;   
}

.skill{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.skill span{
    font-size: 3.5rem;
    color: #E67E22;
}

.skill span i{
    font-size: 3.5rem;
    color: #E67E22;
}

.skills-card p{
    font-family: "Caveat", cursive;
    font-size: 2rem;
    color: #bbb;
    margin-bottom: 4rem;
}

.skills-card-progress{
    width: 2.5rem;
    height: 2.5rem;
    background-color: #515A5A;
    border: 0.2rem solid #bbb;
    border-radius: 50%;
    position: absolute;
    bottom: -1.25rem;
}

.skills-card-progress::before{
    content: "";
    height: 0.2rem;
    background-color: #E67E22;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.skills-card-progress::after{
    content: "";
    height: 0.2rem;
    background-color: #777;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.skills-card:nth-child(1) .skills-card-progress{
    right: 15%;
}

.skills-card:nth-child(1) .skills-card-progress::before{
    right: 2.5rem;
    width: 31.5rem;
}

.skills-card:nth-child(1) .skills-card-progress::after{
    right: -6.1rem;
    width: 5.8rem;
}

.skills-card:nth-child(2) .skills-card-progress{
    right: 10%;
}

.skills-card:nth-child(2) .skills-card-progress::before{
    right: 2.5rem;
    width: 33rem;
}

.skills-card:nth-child(2) .skills-card-progress::after{
    right: -4.3rem;
    width: 4rem;
}

.skills-card:nth-child(3) .skills-card-progress{
    right: 15%;
}

.skills-card:nth-child(3) .skills-card-progress::before{
    right: 2.5rem;
    width: 31.5rem;
}

.skills-card:nth-child(3) .skills-card-progress::after{
    right: -6.1rem;
    width: 5.8rem;
}

.skills-card:nth-child(4) .skills-card-progress{
    right: 20%;
}

.skills-card:nth-child(4) .skills-card-progress::before{
    right: 2.5rem;
    width: 29rem;
}

.skills-card:nth-child(4) .skills-card-progress::after{
    right: -7.8rem;
    width: 7.5rem;
}

.skills-card:nth-child(5) .skills-card-progress{
    right: 30%;
}

.skills-card:nth-child(5) .skills-card-progress::before{
    right: 2.5rem;
    width: 25rem;
}

.skills-card:nth-child(5) .skills-card-progress::after{
    right: -11.8rem;
    width: 11.5rem;
}

.skills-card:nth-child(6) .skills-card-progress{
    right: 30%;
}

.skills-card:nth-child(6) .skills-card-progress::before{
    right: 2.5rem;
    width: 25rem;
}

.skills-card:nth-child(6) .skills-card-progress::after{
    right: -11.8rem;
    width: 11.5rem;
}

/* End of Skills */

/* Projects */
.projects{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.projects-cards{
    width: 140rem;
    margin: 8rem 0 0 10rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding-bottom: 10rem;
    z-index: 100;
}

.project-card{
    width: 40rem;
    height: 55rem;
    background-color: #424949;
    opacity: 0.9;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-img{
    width: 36rem;
    height: 20rem;
    overflow: hidden;     /*Si quitamos esta linea y la adebajo la imagen del Projects sobresale del context card*/
    border-radius: 1rem;
}

.project-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    cursor: pointer;
    transition: transform 1.5s;
}

.project-img img:hover{
    transform: scale(1.3);
}

.techs{
    margin-top: -3rem;
}

.techs span{
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #E67E22;
    letter-spacing: 0.1rem;
}

.project-name{
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
    margin-top: -2rem;
}

.project-desc{
    font-family: "Caveat", cursive;
    font-size: 2.2rem;
    color: #ccc;
}

.project-btn{
    width: 20rem;
    height: 4rem;
    background-color: transparent;
    font-size: 1.8rem;
    text-align: left;
    color: #fff;
    border: none;
    cursor: pointer;
}

.project-btn i{
    color: #E67E22;
    margin-left: 1rem;
    transition: margin-left 0.3s;
}

.project-btn:hover i{       /*Se crear la transition y luego se coloca en la propiedad transition de la class up*/
    margin-left: 2rem;
}

.projects-cards .btn{
    margin: 5rem 0 0 55rem;
}

.projects .section-border{
    height: 140rem;
    position: absolute;
    top: 50%;
    right: 15rem;
    transform: translateY(-50%);
    margin: 0;
}
/* End of Projects */

/* Contact */
.contact{
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.contact .section-bg-heading{
    margin-bottom: 1rem;
}

.contact .section-border{
    position: absolute;
    left: 20rem;
    top: 15%;
}

.contact-content{
    width: 90%;
    max-width: 120rem;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-left div{
    display: flex;
    align-items: center;
    margin: 3rem  0;
}

.contact-left i{
    width: 5rem;
    height: 5rem;
    background-color: #515A5A;
    border: 0.2rem solid #bbb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #eee;
    margin-right: 9rem;
    position: relative;
}

.contact-left i::after{
    content: "";
    width: 4rem;
    height: 0.2rem;
    background-color: #bbb;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -4rem;
}

.contact-info{
    width: 50rem;
    display: flex;
    flex-direction: column;
}

.contact-info span{
    width: 100%;
}

.contact-info span:nth-child(1){
    font-family: "Caveat", cursive;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0.5rem;
}

.contact-info span:nth-child(2){
    font-family: "Ubuntu", sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    color: #fff;
}

.contact-right{
    width: 70rem;
    height: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    gap: -5rem;
}

/*.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 6; }
    .div2 { grid-area: 2 / 1 / 3 / 3; }
    .div3 { grid-area: 2 / 3 / 3 / 5; }
    .div4 { grid-area: 3 / 1 / 4 / 5; }
    .div5 { grid-area: 4 / 1 / 5 / 5; }
    */

.input-groups{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.field:nth-child(1) {
    grid-area: 1 / 1 / 2 / 6; /* Hace que el cuarto input ocupe todo el ancho (de la primera a la última columna) */
    margin-bottom: 3.5rem;
}

.field:nth-child(2) {
    grid-area: 2 / 1 / 3 / 3;; /* Hace que el cuarto input ocupe todo el ancho (de la primera a la última columna) */
}

.field:nth-child(3) {
    grid-area: 2 / 3 / 3 / 5; /* Hace que el cuarto input ocupe todo el ancho (de la primera a la última columna) */
}

.field:nth-child(4) {
    grid-area: 3 / 1 / 4 / 5; /* Hace que el cuarto input ocupe todo el ancho (de la primera a la última columna) */
}

.field label{
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 0.5rem 2rem;
}

.field label i{
    font-size: 1.2rem;
    color: #E67E22;
}

.field input{
    width: 100%;
    height: 5rem;
    margin: 0 2rem 0 0;
    background-color: #424949;
    border: 0.2rem solid #777;
    border-radius: 3rem;
    font-size: 1.6rem;
    font-weight: 300;
    color: #fff;
    padding: 1rem 2rem;
}

.field input{
    width: 100%;
}

#button{
    grid-area: 4 / 1 / 5 / 5;
    width: 100%;
    height: 4rem;
    border: 0.2rem solid #bbb;
    border-radius: 3rem;
    background-color: transparent;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

#button::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #E67E22;
    border-radius: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    transform: scale(0);
    transition: transform 0.5s;
}

#button:hover::before{
    transform: scale(1);
    transition: transform 0.5s;
}
/* End of Contact */

/*Botton Up*/
#button-up{
    width: 6rem;
    height: 6rem;
    font-size: 5rem;
    background-color: #E67E22;
    border-radius: 50%;
    position: fixed;
    bottom: 9rem;
    right: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    border: 2rem solid transparent;
    transition: all 1s ease;
    transform: scale(0);
}

#button-up:hover{
    transform: scale(1.2);
    border-color: rgba(0, 0, 0, 0.1);
}

#button-up i{
    font-size: 5rem;
    color: #424949;
    transition: transform 0.5s;
}
/*End of Botton Up*/

/* Footer */
.footer{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer::before {
    content: "";
    width: 75%; /* Ajusta el ancho de la línea según sea necesario */
    border-top: 0.1rem solid #E67E22;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Centra la línea horizontalmente */
}

.icons div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem; /* Espacio entre los iconos */
}

.icons i{
    font-size: 2rem;
    color: #fff;
    margin-right: 2rem;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.5s ease-in-out; /* Suaviza el efecto */
}

/* Efecto al pasar el cursor */
.icons i:hover {
    transform: scale(2); /* Aumenta el tamaño en 30% */
    color: #E67E22; /* Opcional: cambia de color al pasar el mouse */
}

.copyright, .author{
    font-size: 1.6rem;
    color: #fff;
    margin: 0 15rem; /* Espacio entre los contenedores */
}

.copyright, .author, .icons{
    margin: 0 20rem; /* Espacio entre los contenedores */
}

.copyright span{
    font-family: "Caveat", cursive;
    font-size: 2.5rem;
    font-weight: bold;
    color: #E67E22;
    margin-right: 1rem;
}

.author {
    display: flex;
    align-items: center; /* Alinea verticalmente el logo y el texto */
}

.author span{
    font-family: "Caveat", cursive;
    font-size: 2.5rem;
    font-weight: bold;
    color: #E67E22;
    
}

.author img{
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}
/* End of Footer */
/* End of Container*/

/* ============================ */
/* === ESTILOS RESPONSIVOS === */
/* ============================ */

/* Estilos para pantallas grandes (PC) */
@media (max-width: 1700px) {
    html {
        font-size: 50%;
    }
    .skills, .contact{
        left: 10rem;
    }
}

@media (max-width: 1500px) {
    html {
        font-size: 50%;
    }
    .name {
        font-size: 5rem;
        margin-left: 5rem;
    }
    .greeting, .name, .prof, .about, .social-media, .cv {
        width: 50rem;
        margin-left: 35rem;
    }

    .prof, .prof span {
        font-size: 3rem;
    }

    .dev-img-wrapper {
        width: 80rem;
        height: 80rem;
        margin-left: 5rem;
    }
    .skills-cards {
        width: 90%;
        gap: 0.1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer {
        margin: 0 1rem;
        padding: 1rem 0; /* Ajusta el padding superior e inferior */
    }

    .copyright, .author, .icons {
        margin: 0 10rem; /* Ajusta el margen entre los contenedores */
    }
}

/* Estilos para tablets */
@media (max-width: 1200px) {
    html {
        font-size: 45%;
    }
    .dev-img-wrapper {
        width: 70rem;
        height: 70rem;
        margin-left: -10rem;
    }
    .greeting, .name, .prof, .about, .social-media, .cv {
        width: 50rem;
        margin-left: 15rem;
    }
    .dev-work {
        right: 40rem;
    }
    .contact-content {
        width: 100%;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .contact-left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 30rem;
        padding-top: 55rem;
        margin: -15rem 0;
    }
    .contact-left div {
        display: flex;
        align-items: center;
        margin: -7rem; /* Ajusta el margen según sea necesario */
    }
    
    .contact-left i {
        margin-right: 12rem; /* Ajusta el margen derecho del icono */
    }
    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centra verticalmente el contenido */
    }

    .input-groups {
        flex-direction: column;
        width: 100%;
    }
    .input-group {
        width: 100%;
    }
    .sidebar {
        display: none !important; /* Oculta el sidebar en tablets */
    }
    .logo {
        text-align: left;
        margin-left: 2rem;
    }
    .education, .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

/* Estilos para móviles grandes */
@media (max-width: 900px) {
    html {
        font-size: 39%;
    }
    .developer-info {
        width: 50rem;
        margin-right: 40rem;
        margin-top: 0;
    }
    .dev-img {
        width: 30rem;
        height: 30rem;   
    }
    .dev-img-wrapper {
        width: 60rem;
        height: 60rem;
        margin-left: -22em;
    }
    .section-bg-heading {
        font-size: 20rem;
        margin-bottom: 20rem;
    }
    .skills-cards, .projects-cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .skills .section-bg-heading {
        margin-bottom: 12rem;
    }
    .projects .section-bg-heading {
        margin-bottom: 7rem;
    }
    .contact .section-bg-heading {
        margin-bottom: 9rem;
    }
    .projects .btn {
        margin: 5rem 0 0 0;
    }
    .contact-content {
        width: 100%;
        padding: 2rem;
    }
    .sidebar {
        display: none !important; /* Oculta el sidebar en móviles */
    }
    .logo {
        text-align: center;
    }
    .education, .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
    }
    .footer {
        margin: 0 1rem;
        padding: 5rem 0; /* Ajusta el padding superior e inferior */
    }
    .copyright, .author, .icons {
        margin: 0 6rem; /* Ajusta el margen entre los contenedores */
    }
}

/* Estilos para móviles medianos y pequeños */
@media (max-width: 700px) {
    html {
        font-size: 35%;
    }
    .developer-info {
        width: 45rem;
        margin-right: 50rem;
        margin-bottom: 20rem;
    }
    .dev-img {
        width: 30rem;
        height: 30rem;   
    }
    .dev-img-wrapper {
        width: 55rem;
        height: 55rem;
        margin-left: -35rem;
    }
    .dev-work {
        right: 20rem;
        margin-bottom: 10rem;
    }
    .section-bg-heading {
        font-size: 20rem;
        margin-bottom: 30rem;
    }
    .skills-cards, .projects-cards, .contact-content {
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills .section-heading {
        margin-top: -6rem;
        margin-bottom: 1rem;
    }
    .skills-card {
        width: 40%;
        margin: 1rem 0;
        margin-top: -2rem;
    }
    .skills-card-progress::before {
        right: 2rem;
        width: 31.5rem;
    }
    .skills-card-progress::after {
        right: -65.1rem;
        width: 5rem;
    }
    .skills-card-progress {
        margin-bottom: 3.5rem;
    }
    .projects-cards {
        justify-content: center; /* Centra los proyectos */
        align-items: center; /* Centra los proyectos */
    }
    .project-card {
        width: 45%; /* Asegura que los proyectos ocupen todo el ancho disponible */
        margin: 1rem 0; /* Añade margen inferior para separar los proyectos */
    }
    .project-img {
        width: 100%;
        height: auto;
        display: flex; /* Añade flexbox */
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
    }
    .project-img img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .projects .section-bg-heading{
        margin-bottom: -7rem;
    }
    .projects .btn{
        margin-bottom: -7rem;
    }
    .contact{
        height: 70vh;
    }
    .footer {
        margin: 0 1rem;
        padding: 5rem 0; /* Ajusta el padding superior e inferior */
    }
    .copyright, .author, .icons {
        margin: 0 4rem; /* Ajusta el margen entre los contenedores */
    }
    .logo {
        text-align: center;
    }
    .education, .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .contact-left{
        margin-top: -20rem;
    }
    .input-groups {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .input-group {
        width: 100%;
        margin-bottom: 1rem; /* Añade margen inferior para separar los inputs */
    }
}

@media (max-width: 500px) {
    .logo{
        width: 100%;
        margin-left: -40rem;
    }
    .banner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .landing .section-bg-heading{
        margin-bottom: 5rem;
        font-size: 20rem;
        letter-spacing: 0.2rem;
    }
    .section-bg-heading{
        display: none !important;
    }
    .cv span{
        display: none !important;
    }
    .developer-img{
        width: 50%;
        margin-top: -48rem;
        left: 30rem;
    }
    .dev-work{
        right: 20rem;
        margin-bottom: 2rem;
    }
    .section-heading {
        text-align: center;
    }
    .skills-cards, .projects-cards, .contact-content {
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills-card {
        width: 50%;
        margin: 1rem 0;
        margin-top: -2rem;
    }
    .skills{
        height: 85vh;
    }
    .skills-card-progress{
        display: none !important;
    }
    .projects-cards {
        margin-left: 1rem;
        justify-content: center; /* Centra los proyectos */
        align-items: center; /* Centra los proyectos */
    }
    .project-card {
        width: 50%; /* Asegura que los proyectos ocupen todo el ancho disponible */
        margin: 1rem 0; /* Añade margen inferior para separar los proyectos */
    }
    .input-groups input {
        width: 100%;
    }
    .logo {
        text-align: center;
    }
    .education{
        height: 70vh;
    }
    .education, .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .education-card i{
        display: none !important;
    }
    .contact .section-bg-heading{
        margin-bottom: 1rem;
    }
    .contact {
        margin-bottom: 1rem;
    }
    .contact-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20rem; /* Espaciado entre los elementos internos */
        margin-right: 10rem;
        margin-top: -15rem;
    }
    .footer {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        padding: 8rem 6rem; /* Ajusta el padding superior e inferior */
    }
    .icons{
        display: flex !important; /* Asegura que los íconos sean visibles */
        justify-content: center;
        align-items: center;
    }
    .copyright, .author, .icons {
        margin: 0 4rem; /* Ajusta el margen entre los contenedores */
    }
} 

@media (max-width: 400px) {
    .logo{
        left: 30rem;
    }
    .banner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10rem;
    }
    .section-bg-heading{
        display: none !important;
    }
    .cv span{
        display: none !important;
    }
    .developer-img{
        width: 20%;
        left: 25rem;
    }
    .dev-work{
        right: 20rem;
        margin-bottom: 4rem;
    }
    .education .section-heading {
        font-size: 7rem;
    }
    .education{
        height: 80vh;
    }
    .education-card i{
        width: 7rem;
        height: 7rem;
        font-size: 3rem;
        margin-left: 8rem;
        margin-right: 2rem;
    }
    .education-info div:nth-child(1){
        font-size: 2.5rem;
    }
    .education-info div:nth-child(2),.education-info div:nth-child(3),.education-info div:nth-child(4){
        font-size: 2.2rem;
    }
    .skills-cards, .projects-cards, .contact-content {
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills{
        height: 100vh;
    }
    .skills .section-heading {
        font-size: 7rem;
        margin-right: 20rem;
    }
    .skills .sub-heading{
        margin-right: 20rem;
    }
    .skills .skills-card {
        width: 75%;
        margin-right: 20rem;
        margin-bottom: 5rem;
    }
    .projects-cards {
        justify-content: center; /* Centra los proyectos */
        align-items: center; /* Centra los proyectos */
    }
    .project-card {
        width: 50%; /* Asegura que los proyectos ocupen todo el ancho disponible */
        margin: 1rem 0; /* Añade margen inferior para separar los proyectos */
        margin-right: 10rem;
    }
    .projects-cards .btn{
        margin-right: 10rem;
    }
    .input-groups input {
        width: 100%;
    }
    .logo {
        text-align: center;
    }
    .education, .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .contact {
        height: 80vh;
        margin-bottom: 1rem;
    }
    .contact .section-heading {
        font-size: 7rem;
        margin-right: 20rem;
    }
    .contact .sub-heading{
        font-size: 2rem;
        margin-right: 20rem;
    }
    .contact-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20rem; /* Espaciado entre los elementos internos */
        margin-top: 1em; 
        margin-right: 35em;
    }
    .contact-right{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20rem; /* Espaciado entre los elementos internos */
        margin-top: 15rem; 
        margin-right: 20rem;
    }
    .footer {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        padding: 8rem 6rem; /* Ajusta el padding superior e inferior */
    }
    .icons{
        display: flex !important; /* Asegura que los íconos sean visibles */
        justify-content: center;
        align-items: center;
    }
    .copyright, .author, .icons {
        margin: 0 4rem; /* Ajusta el margen entre los contenedores */
    }
    
}

@media (max-width: 300px) {
    .logo{
        left: 5rem;
    }
    .banner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        margin-left: 10rem;
    }
    .section-bg-heading{
        display: none !important;
    }
    .cv span{
        display: none !important;
    }
    .developer-img{
        display: none !important;
    }
    .dev-work{
        display: none !important;
    }
    .section-heading {
        text-align: center;
        font-size: 6rem;
    }
    .education{
        height: 70vh;
    }
    .education-card i{
        display: none !important;
    }
    .education-info div:nth-child(1){
        font-size: 2.5rem;
    }
    .education-info div:nth-child(2),.education-info div:nth-child(3),.education-info div:nth-child(4){
        font-size: 2.2rem;
    }
    .skills{
        height: 85vh;
    }
    .skills-cards, .projects-cards, .contact-content {
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills-card {
        width: 65%;
        margin: 1rem 0;
        margin-top: -2rem;
    }
    .skills-card-progress{
        display: none !important;
    }
    .projects-cards {
        justify-content: center; /* Centra los proyectos */
        align-items: center; /* Centra los proyectos */
    }
    .project-card {
        width: 50%; /* Asegura que los proyectos ocupen todo el ancho disponible */
        margin: 1rem 0; /* Añade margen inferior para separar los proyectos */
        margin-right: 10rem;
    }
    .projects-cards .btn{
        margin-right: 10rem;
    }
    .input-groups input {
        width: 100%;
    }
    .logo {
        text-align: center;
    }
    .education, .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .contact {
        margin-bottom: 1rem;
    }
    .contact-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20rem; /* Espaciado entre los elementos internos */
        margin-right: 15rem;
    }
    .footer {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        padding: 8rem 6rem; /* Ajusta el padding superior e inferior */
    }
    .icons{
        display: flex !important; /* Asegura que los íconos sean visibles */
        justify-content: center;
        align-items: center;
    }
    .copyright, .author, .icons {
        margin: 0 4rem; /* Ajusta el margen entre los contenedores */
    }
    
}
/* Fin de estilos responsivos */